@import "style_var";

.container-projects {
    margin: 0 auto;
    flex: 1 1 auto;
}

.radio-tabs {
    display: flex;
    justify-content: center;
}

.radio-tabs .state {
    position: absolute;
    left: -10000px;
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    color: $color-text;
    cursor: pointer;
}

.radio-tabs .tab:active {
    color: $color-text-active;
}

#radio1:checked~.tabs #first-tab,
#radio2:checked~.tabs #second-tab,
#radio3:checked~.tabs #third-tab,
#radio4:checked~.tabs #fourth-tab,
#radio5:checked~.tabs #fifth-tab {
    color: $color-text-active;
    cursor: default;

    .arrow_label {
        visibility: visible;
    }
}

.tab-label {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    line-height: 1.6rem;
    padding: 20px 0;
}

.arrow_label {
    margin-left: 80px;
    visibility: hidden;

    &:checked {
        visibility: visible;
    }
}

.panel__img img {
    max-width: 100%;
    filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.25));
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
}

.panel__txt {
    font-size: 25px;
    color: $color-main;
}

.radio-tabs .panel {
    display: none;
    margin-left: 100px;
}

#radio1:checked~.panels #first-panel,
#radio2:checked~.panels #second-panel,
#radio3:checked~.panels #third-panel,
#radio4:checked~.panels #fourth-panel,
#radio5:checked~.panels #fifth-panel {
    display: block;
}