@import "style_var";

.container-glitch {
    padding: 30vh 0;
    flex: 1 1 auto;
}

.start-page_image {
    background: url(/images/start-page_background.png) no-repeat left/20%;
}

.header_start-page {
    width: 50vw;
}

.glitch {
    color: $color-yellow;
    position: relative;
    font: normal 700 120px 'Zeppelin 53';

    &::after {
        content: attr(data-trick);
        position: absolute;
        top: 0;
        left: 0.5rem;
        color: $color-yellow;
        background-color: $color-main;
        overflow: hidden;
        text-shadow: -0.5rem 0 $color-glitch-red;
        clip: rect(0, 90rem, 0, 0);
        animation: noise 2s infinite linear alternate-reverse;
    }

    &::before {
        content: attr(data-trick);
        position: absolute;
        top: 0;
        left: -1rem;
        color: $color-yellow;
        background-color: $color-main;
        overflow: hidden;
        text-shadow: 0.3rem 0 $color-glitch-red;
        clip: rect(0, 90rem, 0, 0);
        animation: noise 4s infinite linear alternate-reverse;
    }
}

@keyframes noise {
    $steps: 25;

    @for $i from 0 through $steps {
        #{ percentage($i * (1/$steps))} {
            clip: rect(random(12)+rem, 99.99rem, random(12)+rem, 0);
        }
    }
}


.arrow-page-down {
    padding-bottom: 20px;
}