@import "style_var";

.contacts {
    width: 80%;
    display: flex;
    justify-content: center;
} 

.contacts__content {
    display: flex;
    justify-content: space-between;
}

.footer__page {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-text-active;
    margin: 10px 0;
}

.footer__menu_link {
    color: $color-text;
}

.contacts__img {
    max-width: 100%;
}

.footer__icon {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-text-active;
    margin: 10px 0;
}

.img__icon {
    max-width: 50px;
    max-height: 50px;
}

@media screen and (max-width: 360px) {
    .contacts__img, .footer__page {
        display: none;
    }

    .contacts__adress {
        height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: $color-text-active;
        background: url(../images/picture_girl.png) no-repeat center/100%;;
    }
}

@media screen and (min-width: 361px) and (max-width: 499px) {
    .contacts__img, .footer__page {
        display: none;
    }

    .contacts__adress {
        height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: $color-text-active;
        background: url(../images/picture_girl.png) no-repeat center/100%;;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .contacts__img, .footer__page {
        display: none;
    }

    .contacts__adress {
        height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: $color-text-active;
        background: url(../images/picture_girl.png) no-repeat center/100%;;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .footer__icon {
        display: none;
    }

    .contacts__adress {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: $color-text-active;
        font-size: 20px;
        padding: 10px;
        margin-left: 150px;
    }
}

@media screen and (min-width: 1024px) {
    .footer__icon {
        display: none;
    }

    .contacts__adress {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: $color-text-active;
        font-size: 20px;
        padding: 10px;
        margin-left: 150px;
    }
}