@import "style_var";

.background-profile-img {
    background: url(../images/if_blur.png) no-repeat center/100%;
}

.container-profile {
    margin: 0 auto;
    flex: 1 1 auto;
    margin-top: 30px;
}

.radio-tabs {
    max-width: 80vw;
}

.tab-about {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    line-height: 1.6rem;
    padding: 20px 0;
}

.arrow_profile {
    margin-left: 80px;
    visibility: hidden;

    &:checked {
        visibility: visible;
    }
}

.tab_profile {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: $color-text;
    cursor: pointer;
}

.tab_profile:active {
    color: $color-text-active;
}

#radio1:checked~.tabs #first-tab_profile,
#radio2:checked~.tabs #second-tab_profile,
#radio3:checked~.tabs #third-tab_profile,
#radio4:checked~.tabs #fourth-tab_profile,
#radio5:checked~.tabs #fifth-tab_profile {
    color: $color-text-active;
    cursor: default;

    .arrow_profile {
        visibility: visible;
    }
}

#radio1:checked~.panels #first-panel_profile,
#radio2:checked~.panels #second-panel_profile,
#radio3:checked~.panels #third-panel_profile,
#radio4:checked~.panels #fourth-panel_profile,
#radio5:checked~.panels #fifth-panel_profile {
    display: block;
}

.panels_profile_slide_title {
    font-size: 30px;
    font-weight: 300;
    color: $color-text-active;
    text-align: left;
}

#radio1:checked~.arrow_profile #first-tab_arrow,
#radio2:checked~.arrow_profile #second-tab_arrow,
#radio3:checked~.arrow_profile #third-tab_arrow,
#radio4:checked~.arrow_profile #fourth-tab_arrow,
#radio5:checked~.arrow_profile #fifth-tab_arrow {
    color: $color-text-active;
    cursor: default;
}