.container-if {
    flex: 1 1 auto;
}

.if-block__content {
    transform: translateY(80vh);
    animation-name: 'if';
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.if-block-image img {
    width: 80vw;
}

.if-block__content:hover {
    filter: blur(1rem);
    transition-duration: 3s;
}

@keyframes if {
    0% {
        transform: translateY(80vh);
    }

    100% {
        transform: translateY(0);
    }
}