@import "style_var.scss";

.head {
    /*border: 2px solid red;*/
    display: flex;
    position: sticky;
    top: 0; 
    flex-wrap: wrap; /*перенос строки */
    padding-top: 10px;
    justify-content: flex-end; /*закрепляет элемент в пределах родительского тега*/ 
}

.logo {
    /*border: 2px solid green;*/
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.head__menu_sector {
    display: inline-block;
    padding: 20px 100px 20px 20px;
    font-size: 24px;
}

.head__menu_sector-span {
    position: relative;
    display: block;
    cursor: default; //курсор стрелочка
    color: $color-text;
}

a:hover {
    text-decoration: none;
    color: $color-text;
}

span:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 50%;
    margin-top: -0.1px;
    background: $color-yellow;
}

span:before { //создания псевдоэлемента внутри элемента перед его контентом*/
    right: -2.5px;
}
span:after { /*//создания псевдоэлемента внутри элемента после его контента*/
    right: 2.5px;
    background: $color-yellow;
    transition: width 0.9s cubic-bezier(0.22, 0.61, 0.36, 1); //первые два — координаты x, y первой точки; вторые два — координаты x, y второй точки.*/
}

span:hover:before { /*движение линии вперед*/
    background: $color-yellow;
    width: 100%;
    transition: width 0.9s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {//движение линии назад
    background: $color-yellow; //Устанавливает прозрачный фон вместо перечеркнутой линии.
    width: 100%;
}