@import "style_var.scss";

.footer__menu {
    /*border: 2px solid red;*/
    display: flex;
    flex-wrap: wrap; /*перенос строки */
    justify-content: center;
}

.footer__menu_sector {
    display: inline-block;
    padding: 20px 50px 20px 20px;   
}

.footer__menu_link {
    color: $color-text;
    font-size: 2.315vw;
}

.footer__menu_link-copyright {
    /*border: 2px solid blue;*/
    padding: 0 200px 0 0;
    color: $color-text;
    font-size: 30px;
}