body,
html {
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.glitch {
  font-family: 'Zeppelin 53';
  font-weight: 700;
  font-style: normal;
  color: #BDF80A;
  font-size: 144px;
  position: relative;
}

.glitch::after {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: 0.5rem;
  color: #BDF80A;
  background-color: #000000;
  overflow: hidden;
  text-shadow: -1rem 0 #ff0000;
  clip: rect(0, 90rem, 0, 0);
  animation: noise 2s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: -1rem;
  color: #BDF80A;
  background-color: #000000;
  overflow: hidden;
  text-shadow: 0.3rem 0 #ff0000;
  clip: rect(0, 90rem, 0, 0);
  animation: noise 4s infinite linear alternate-reverse;
}

@-webkit-keyframes noise {
  0% {
    clip: rect(10rem, 99.99rem, 4rem, 0);
  }
  4% {
    clip: rect(10rem, 99.99rem, 9rem, 0);
  }
  8% {
    clip: rect(1rem, 99.99rem, 4rem, 0);
  }
  12% {
    clip: rect(4rem, 99.99rem, 3rem, 0);
  }
  16% {
    clip: rect(9rem, 99.99rem, 7rem, 0);
  }
  20% {
    clip: rect(12rem, 99.99rem, 4rem, 0);
  }
  24% {
    clip: rect(9rem, 99.99rem, 7rem, 0);
  }
  28% {
    clip: rect(8rem, 99.99rem, 10rem, 0);
  }
  32% {
    clip: rect(8rem, 99.99rem, 1rem, 0);
  }
  36% {
    clip: rect(6rem, 99.99rem, 10rem, 0);
  }
  40% {
    clip: rect(6rem, 99.99rem, 6rem, 0);
  }
  44% {
    clip: rect(2rem, 99.99rem, 8rem, 0);
  }
  48% {
    clip: rect(1rem, 99.99rem, 12rem, 0);
  }
  52% {
    clip: rect(9rem, 99.99rem, 9rem, 0);
  }
  56% {
    clip: rect(9rem, 99.99rem, 1rem, 0);
  }
  60% {
    clip: rect(1rem, 99.99rem, 12rem, 0);
  }
  64% {
    clip: rect(5rem, 99.99rem, 3rem, 0);
  }
  68% {
    clip: rect(2rem, 99.99rem, 2rem, 0);
  }
  72% {
    clip: rect(3rem, 99.99rem, 7rem, 0);
  }
  76% {
    clip: rect(9rem, 99.99rem, 9rem, 0);
  }
  80% {
    clip: rect(2rem, 99.99rem, 10rem, 0);
  }
  84% {
    clip: rect(6rem, 99.99rem, 3rem, 0);
  }
  88% {
    clip: rect(4rem, 99.99rem, 12rem, 0);
  }
  92% {
    clip: rect(4rem, 99.99rem, 6rem, 0);
  }
  96% {
    clip: rect(12rem, 99.99rem, 5rem, 0);
  }
  100% {
    clip: rect(12rem, 99.99rem, 1rem, 0);
  }
}

@keyframes noise {
  0% {
    clip: rect(10rem, 99.99rem, 4rem, 0);
  }
  4% {
    clip: rect(10rem, 99.99rem, 9rem, 0);
  }
  8% {
    clip: rect(1rem, 99.99rem, 4rem, 0);
  }
  12% {
    clip: rect(4rem, 99.99rem, 3rem, 0);
  }
  16% {
    clip: rect(9rem, 99.99rem, 7rem, 0);
  }
  20% {
    clip: rect(12rem, 99.99rem, 4rem, 0);
  }
  24% {
    clip: rect(9rem, 99.99rem, 7rem, 0);
  }
  28% {
    clip: rect(8rem, 99.99rem, 10rem, 0);
  }
  32% {
    clip: rect(8rem, 99.99rem, 1rem, 0);
  }
  36% {
    clip: rect(6rem, 99.99rem, 10rem, 0);
  }
  40% {
    clip: rect(6rem, 99.99rem, 6rem, 0);
  }
  44% {
    clip: rect(2rem, 99.99rem, 8rem, 0);
  }
  48% {
    clip: rect(1rem, 99.99rem, 12rem, 0);
  }
  52% {
    clip: rect(9rem, 99.99rem, 9rem, 0);
  }
  56% {
    clip: rect(9rem, 99.99rem, 1rem, 0);
  }
  60% {
    clip: rect(1rem, 99.99rem, 12rem, 0);
  }
  64% {
    clip: rect(5rem, 99.99rem, 3rem, 0);
  }
  68% {
    clip: rect(2rem, 99.99rem, 2rem, 0);
  }
  72% {
    clip: rect(3rem, 99.99rem, 7rem, 0);
  }
  76% {
    clip: rect(9rem, 99.99rem, 9rem, 0);
  }
  80% {
    clip: rect(2rem, 99.99rem, 10rem, 0);
  }
  84% {
    clip: rect(6rem, 99.99rem, 3rem, 0);
  }
  88% {
    clip: rect(4rem, 99.99rem, 12rem, 0);
  }
  92% {
    clip: rect(4rem, 99.99rem, 6rem, 0);
  }
  96% {
    clip: rect(12rem, 99.99rem, 5rem, 0);
  }
  100% {
    clip: rect(12rem, 99.99rem, 1rem, 0);
  }
}

.logo-glitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
}

.arrow-page-down {
  padding-bottom: 20px;
}
/*# sourceMappingURL=style_digital.css.map */