@import url(/styles/style_header_logo.css);
@import url(/styles/style_footer.css);
@import "style_var.scss";

body {
    height: 100%;
    background: $color-main;
    color: $color-text-active;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}