@import "style_var.scss";

.contacts {
    display: flex;
    justify-content: space-around; 
}

.contacts__img {
    width: 355px;
    height: 509px;
}

.contacts__line {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.563vw; //30px
    font-family:'Gotham Pro', Arial, Helvetica, sans-serif;    
    padding: 0 15% 5% 0;
}
