@charset "UTF-8";
.header__page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: 5vh auto;
}

.logo {
  max-width: 100%;
}

.header__menu_sector {
  display: inline-block;
  font-size: 1.302vw;
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
}

.header__menu_sector-span {
  position: relative;
  display: block;
  cursor: default;
  color: #FFFFFF80;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #FFFFFF80;
}

.header__menu_sector-span:before,
.header__menu_sector-span:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.1px;
  background: #BDF80A;
}

.header__menu_sector-span:before {
  right: -2.5px;
}

.header__menu_sector-span:after {
  /*//создания псевдоэлемента внутри элемента после его контента*/
  right: 2.5px;
  background: #BDF80A;
  transition: width 0.9s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.header__menu_sector-span:hover:before {
  /*движение линии вперед*/
  background: #BDF80A;
  width: 100%;
  transition: width 0.9s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.header__menu_sector-span:hover:after {
  background: #BDF80A;
  width: 100%;
}

@media screen and (max-width: 360px) {
  .header__page {
    display: none;
  }

  .header__burger_profile,
.header__burger_project,
.header__burger_contact {
    color: #FFFFFF80;
  }
}
@media screen and (min-width: 361px) and (max-width: 499px) {
  .header__page {
    display: none;
  }

  .header__burger_profile,
.header__burger_project,
.header__burger_contact {
    color: #FFFFFF80;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .header__burger {
    display: none;
  }

  .header__burger_profile,
.header__burger_project,
.header__burger_contact {
    color: #FFFFFF80;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .header__burger {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}
.container-glitch {
  padding: 30vh 0;
  flex: 1 1 auto;
}

.start-page_image {
  background: url(../images/start-page_background.png) no-repeat left/20%;
}

.header_start-page {
  width: 50vw;
}

.glitch {
  color: #BDF80A;
  position: relative;
  font: normal 700 120px "Zeppelin 53";
}
.glitch::after {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: 0.5rem;
  color: #BDF80A;
  background-color: #000000;
  overflow: hidden;
  text-shadow: -0.5rem 0 #ff0000;
  clip: rect(0, 90rem, 0, 0);
  animation: noise 2s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-trick);
  position: absolute;
  top: 0;
  left: -1rem;
  color: #BDF80A;
  background-color: #000000;
  overflow: hidden;
  text-shadow: 0.3rem 0 #ff0000;
  clip: rect(0, 90rem, 0, 0);
  animation: noise 4s infinite linear alternate-reverse;
}

@-webkit-keyframes noise {
  0% {
    clip: rect(10rem, 99.99rem, 8rem, 0);
  }
  4% {
    clip: rect(5rem, 99.99rem, 4rem, 0);
  }
  8% {
    clip: rect(2rem, 99.99rem, 2rem, 0);
  }
  12% {
    clip: rect(8rem, 99.99rem, 11rem, 0);
  }
  16% {
    clip: rect(1rem, 99.99rem, 12rem, 0);
  }
  20% {
    clip: rect(2rem, 99.99rem, 10rem, 0);
  }
  24% {
    clip: rect(4rem, 99.99rem, 4rem, 0);
  }
  28% {
    clip: rect(1rem, 99.99rem, 4rem, 0);
  }
  32% {
    clip: rect(12rem, 99.99rem, 9rem, 0);
  }
  36% {
    clip: rect(7rem, 99.99rem, 4rem, 0);
  }
  40% {
    clip: rect(4rem, 99.99rem, 10rem, 0);
  }
  44% {
    clip: rect(12rem, 99.99rem, 1rem, 0);
  }
  48% {
    clip: rect(8rem, 99.99rem, 3rem, 0);
  }
  52% {
    clip: rect(4rem, 99.99rem, 4rem, 0);
  }
  56% {
    clip: rect(4rem, 99.99rem, 10rem, 0);
  }
  60% {
    clip: rect(11rem, 99.99rem, 8rem, 0);
  }
  64% {
    clip: rect(6rem, 99.99rem, 1rem, 0);
  }
  68% {
    clip: rect(1rem, 99.99rem, 11rem, 0);
  }
  72% {
    clip: rect(8rem, 99.99rem, 8rem, 0);
  }
  76% {
    clip: rect(7rem, 99.99rem, 8rem, 0);
  }
  80% {
    clip: rect(9rem, 99.99rem, 11rem, 0);
  }
  84% {
    clip: rect(1rem, 99.99rem, 4rem, 0);
  }
  88% {
    clip: rect(4rem, 99.99rem, 10rem, 0);
  }
  92% {
    clip: rect(4rem, 99.99rem, 7rem, 0);
  }
  96% {
    clip: rect(10rem, 99.99rem, 2rem, 0);
  }
  100% {
    clip: rect(1rem, 99.99rem, 8rem, 0);
  }
}

@keyframes noise {
  0% {
    clip: rect(10rem, 99.99rem, 8rem, 0);
  }
  4% {
    clip: rect(5rem, 99.99rem, 4rem, 0);
  }
  8% {
    clip: rect(2rem, 99.99rem, 2rem, 0);
  }
  12% {
    clip: rect(8rem, 99.99rem, 11rem, 0);
  }
  16% {
    clip: rect(1rem, 99.99rem, 12rem, 0);
  }
  20% {
    clip: rect(2rem, 99.99rem, 10rem, 0);
  }
  24% {
    clip: rect(4rem, 99.99rem, 4rem, 0);
  }
  28% {
    clip: rect(1rem, 99.99rem, 4rem, 0);
  }
  32% {
    clip: rect(12rem, 99.99rem, 9rem, 0);
  }
  36% {
    clip: rect(7rem, 99.99rem, 4rem, 0);
  }
  40% {
    clip: rect(4rem, 99.99rem, 10rem, 0);
  }
  44% {
    clip: rect(12rem, 99.99rem, 1rem, 0);
  }
  48% {
    clip: rect(8rem, 99.99rem, 3rem, 0);
  }
  52% {
    clip: rect(4rem, 99.99rem, 4rem, 0);
  }
  56% {
    clip: rect(4rem, 99.99rem, 10rem, 0);
  }
  60% {
    clip: rect(11rem, 99.99rem, 8rem, 0);
  }
  64% {
    clip: rect(6rem, 99.99rem, 1rem, 0);
  }
  68% {
    clip: rect(1rem, 99.99rem, 11rem, 0);
  }
  72% {
    clip: rect(8rem, 99.99rem, 8rem, 0);
  }
  76% {
    clip: rect(7rem, 99.99rem, 8rem, 0);
  }
  80% {
    clip: rect(9rem, 99.99rem, 11rem, 0);
  }
  84% {
    clip: rect(1rem, 99.99rem, 4rem, 0);
  }
  88% {
    clip: rect(4rem, 99.99rem, 10rem, 0);
  }
  92% {
    clip: rect(4rem, 99.99rem, 7rem, 0);
  }
  96% {
    clip: rect(10rem, 99.99rem, 2rem, 0);
  }
  100% {
    clip: rect(1rem, 99.99rem, 8rem, 0);
  }
}
.arrow-page-down {
  padding-bottom: 20px;
}

.container-if {
  flex: 1 1 auto;
}

.if-block__content {
  transform: translateY(80vh);
  -webkit-animation-name: "if";
          animation-name: "if";
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.if-block-image img {
  width: 80vw;
}

.if-block__content:hover {
  filter: blur(1rem);
  transition-duration: 3s;
}

@-webkit-keyframes if {
  0% {
    transform: translateY(80vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes if {
  0% {
    transform: translateY(80vh);
  }
  100% {
    transform: translateY(0);
  }
}
.background-profile-img {
  background: url(../images/if_blur.png) no-repeat center/100%;
}

.container-profile {
  margin: 0 auto;
  flex: 1 1 auto;
  margin-top: 30px;
}

.radio-tabs {
  max-width: 80vw;
}

.tab-about {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  line-height: 1.6rem;
  padding: 20px 0;
}

.arrow_profile {
  margin-left: 80px;
  visibility: hidden;
}
.arrow_profile:checked {
  visibility: visible;
}

.tab_profile {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #FFFFFF80;
  cursor: pointer;
}

.tab_profile:active {
  color: #FFFFFF;
}

#radio1:checked ~ .tabs #first-tab_profile,
#radio2:checked ~ .tabs #second-tab_profile,
#radio3:checked ~ .tabs #third-tab_profile,
#radio4:checked ~ .tabs #fourth-tab_profile,
#radio5:checked ~ .tabs #fifth-tab_profile {
  color: #FFFFFF;
  cursor: default;
}
#radio1:checked ~ .tabs #first-tab_profile .arrow_profile,
#radio2:checked ~ .tabs #second-tab_profile .arrow_profile,
#radio3:checked ~ .tabs #third-tab_profile .arrow_profile,
#radio4:checked ~ .tabs #fourth-tab_profile .arrow_profile,
#radio5:checked ~ .tabs #fifth-tab_profile .arrow_profile {
  visibility: visible;
}

#radio1:checked ~ .panels #first-panel_profile,
#radio2:checked ~ .panels #second-panel_profile,
#radio3:checked ~ .panels #third-panel_profile,
#radio4:checked ~ .panels #fourth-panel_profile,
#radio5:checked ~ .panels #fifth-panel_profile {
  display: block;
}

.panels_profile_slide_title {
  font-size: 30px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: left;
}

#radio1:checked ~ .arrow_profile #first-tab_arrow,
#radio2:checked ~ .arrow_profile #second-tab_arrow,
#radio3:checked ~ .arrow_profile #third-tab_arrow,
#radio4:checked ~ .arrow_profile #fourth-tab_arrow,
#radio5:checked ~ .arrow_profile #fifth-tab_arrow {
  color: #FFFFFF;
  cursor: default;
}

.container-projects {
  margin: 0 auto;
  flex: 1 1 auto;
  margin-top: 30px;
}

.radio-tabs {
  display: flex;
  justify-content: center;
}

.radio-tabs .state {
  position: absolute;
  left: -10000px;
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  color: #FFFFFF80;
  cursor: pointer;
}

.radio-tabs .tab:active {
  color: #FFFFFF;
}

#radio1:checked ~ .tabs #first-tab,
#radio2:checked ~ .tabs #second-tab,
#radio3:checked ~ .tabs #third-tab,
#radio4:checked ~ .tabs #fourth-tab,
#radio5:checked ~ .tabs #fifth-tab {
  color: #FFFFFF;
  cursor: default;
}
#radio1:checked ~ .tabs #first-tab .arrow_label,
#radio2:checked ~ .tabs #second-tab .arrow_label,
#radio3:checked ~ .tabs #third-tab .arrow_label,
#radio4:checked ~ .tabs #fourth-tab .arrow_label,
#radio5:checked ~ .tabs #fifth-tab .arrow_label {
  visibility: visible;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  line-height: 1.6rem;
  padding: 20px 0;
}

.arrow_label {
  margin-left: 80px;
  visibility: hidden;
}
.arrow_label:checked {
  visibility: visible;
}

.panel__img img {
  max-width: 100%;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.25));
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
}

.panel__txt {
  font-size: 25px;
  color: #000000;
  margin-top: 20px;
}

.radio-tabs .panel {
  display: none;
  margin-left: 100px;
}

#radio1:checked ~ .panels #first-panel,
#radio2:checked ~ .panels #second-panel,
#radio3:checked ~ .panels #third-panel,
#radio4:checked ~ .panels #fourth-panel,
#radio5:checked ~ .panels #fifth-panel {
  display: block;
}

.contacts {
  width: 80%;
  display: flex;
  justify-content: center;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
}

.footer__page {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  margin: 10px 0;
}

.footer__menu_link {
  color: #FFFFFF80;
}

.contacts__img {
  max-width: 100%;
}

.footer__icon {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  margin: 10px 0;
}

.img__icon {
  max-width: 50px;
  max-height: 50px;
}

@media screen and (max-width: 360px) {
  .contacts__img, .footer__page {
    display: none;
  }

  .contacts__adress {
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFFFFF;
    background: url(../images/picture_girl.png) no-repeat center/100%;
  }
}
@media screen and (min-width: 361px) and (max-width: 499px) {
  .contacts__img, .footer__page {
    display: none;
  }

  .contacts__adress {
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFFFFF;
    background: url(../images/picture_girl.png) no-repeat center/100%;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .contacts__img, .footer__page {
    display: none;
  }

  .contacts__adress {
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFFFFF;
    background: url(../images/picture_girl.png) no-repeat center/100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .footer__icon {
    display: none;
  }

  .contacts__adress {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px;
    margin-left: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__icon {
    display: none;
  }

  .contacts__adress {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px;
    margin-left: 150px;
  }
}
body,
html {
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  background-color: #000000;
  height: 100%;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */